@using MepWeb.DTO.Request;
@model MepWeb.DTO.Request.IdDocumentoRequest;
@{
}

<div id="tgen" class="tgen-margin"></div>

@section scripts{
	<script type="module" src="/js/AddettoQualifica.js"></script>
}
