@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Addetto / Qualifica</h1>

<script src="https://localhost:7182/js/TableGenerator.js"></script>
<script src="https://localhost:7182/js/layoutAziendale.js"></script>
<script src="https://localhost:7182/js/types.js"></script>
