@using MepWeb.DTO.Request;
@model MepWeb.DTO.Request.IdDocumentoRequest;
@{
}

<h1>Addetto / Qualifica</h1>
<div id="tgen"></div>

@section scripts{
	<script src="~/js/Consuntivi.js"></script>
	<script>
		let idDocumento = getBaseUrl("ID_Documento")
		console.log("cshtml: " + idDocumento)
		@*let idDocumento = "@Model.idDocumento"
		const inizializza = async () => getDocumento(idDocumento)
		inizializza()*@
	</script>
}
