@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Ciao</h1>
<a type="button" class="btn btn-primary" role="button" asp-area="" asp-controller="Crrg" asp-action="OreQualifica">Ore x Qualifica</a>
<a type="button" class="btn btn-primary" role="button" asp-area="" asp-controller="Crrg" asp-action="AddettoQualifica">Addetto / Qualifica</a>
<a type="button" class="btn btn-primary" role="button" asp-area="" asp-controller="Crrg" asp-action="RegistroRicariche">Registro Ricariche</a>
