@using MepWeb.Service
@inject GetConfig _config
@{
}

<div id="tgen" class="oreQualifica tgen-margin""></div>

@section scripts{
    <script>
        window.__PLATFORM_URL = "@_config.ScwPlatformURL";
        window.__TABLEGENERATOR_PATH = "@_config.TableGeneratorPath";
    </script>
    @* <script src="@(_config.ScwPlatformURL)@(_config.TableGeneratorPath)TableGenerator_bundle.js"></script> *@
	<script type="module" src="/js/OreQualifica.js"></script>
}
