@using MepWeb.Service
@inject GetConfig _config
@{
}

<a class="btn btn-primary btn-back mt-3" href="https://@(Context.Response.HttpContext.Request.Host)/Crrg/OreQualifica/@(Model.idDocumento)">Torna a Ore x Qualifica</a>

<div id="tgen" class=""></div>

@section scripts{
	<script>
		window.__PLATFORM_URL = "@_config.ScwPlatformURL";
		window.__TABLEGENERATOR_PATH = "@_config.TableGeneratorPath";
	</script>
	<script type="module" src="~/js/RegistroRicariche.js"></script>
}
