@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="tgen"></div>

@section scripts{
	<script type="module" src="~/js/RegistroRicariche.js"></script>
@* 	<script>
		let idDocumento = getBaseUrl("ID_Documento")
		console.log("cshtml" + idDocumento)
	</script> *@
}
