@using MepWeb.Type;
@model MepWeb.DTO.Response.LoginResponse;
@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Login"]</h1>

<div class="container main-mep-container">
    <div class="row">
        <div class="col-6 offset-3 mt-4">
            <div id="login-container">
                <h3>Mep Web</h3>
                @if (Model != null && Model.StatusType == LoginStatus.Unauthorized)
                {
                    <p class="text-danger">Credenziali errate, riprova!</p>
                }
                else if (Model != null && Model.StatusType == LoginStatus.UnknownError)
                {
                    <p class="text-danger">Errore in fase di login:</p>
                    <p class="text-danger">@Model.ResponseError</p>
                }
                <form id="login-form" method="post" name="Login">
                    <div>
                        <label for="email" class="form-label">Email:</label>
                        <input required type="email" name="email" class="form-control" id="email" placeholder="name@company.com">
                    </div>
                    <div class="mt-2">
                        <label for="password" class="form-label">Password:</label>
                        <input required type="password" name="password" class="form-control" id="password" placeholder="*********">
                        <p class="m-0 mt-1 d-none" id="caps-alert"><i class="bi bi-capslock-fill"></i> Caps Lock attivo</p>
                    </div>
                    <button class="btn btn-success mt-3" type="submit" id="btn-login">Login</button>
                </form>

                <div class="mt-4">
                    <a href="https://cloud.sataconsulting.it/RichiestaResetPassword" target="_blank">Hai dimenticato la password?</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>

        document.addEventListener('keydown', (e) => {
            var isCaps = e.getModifierState('CapsLock');
            if (isCaps) {
                document.getElementById("caps-alert").classList.remove("d-none")
            } else {
                document.getElementById("caps-alert").classList.add("d-none")
            }
        })
    </script>
}