@using MepWeb.Type;
@model MepWeb.DTO.Response.LoginResponse;
@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Login"]</h1>

<div class="container main-mep-container">
    <div class="row">
        <div class="col-6 offset-3 mt-4">
            <div id="login-container">
                <h3>Mep Web</h3>
                @if (Model != null && Model.StatusType == LoginStatus.Unauthorized)
                {
                    <p class="text-danger">Credenziali errate, riprova!</p>
                }
                else if (Model != null && Model.StatusType == LoginStatus.UnknownError)
                {
                    <p class="text-danger">Errore in fase di login:</p>
                    <p class="text-danger">@Model.ResponseError</p>
                }
                <form id="login-form" method="post" name="Login">
                    <div>
                        <label for="email" class="form-label">Email:</label>
                        <input required type="email" name="email" class="form-control" id="email" placeholder="name@company.com">
                    </div>
                    <div class="mt-2">
                        <label for="password" class="form-label">Password:</label>
                        <input required type="password" name="password" class="form-control" id="password" placeholder="*********">
                    </div>
                    <button class="btn btn-success mt-3" type="submit" id="btn-login">Login</button>
                </form>

                <div class="mt-4">
                    <a href="https://192.168.192.104:44300/RichiestaResetPassword" target="_blank">Hai dimenticato la password?</a>
                </div>
            </div>
        </div>
    </div>
</div>


@* <p>Use this page to login.</p>

<form method="post" name="Login">
    <div class="border p-3 mt-4">
        
            <div class="form-group" style="margin-top:5px;">
                <label>User</label>
                <input name="user" class="form-control" style="width:50px" />                
            </div>
        
        <br />
        <button type="submit" class="btn btn-primary" style="width:150px">Login</button>
    </div>
</form>
 *@