@inject IHttpContextAccessor _contextAccessor

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MEP SC WEB</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building MEP01Web apps with ASP.NET Core</a>.</p>*@
    @*<p>Utente : @_contextAccessor.HttpContext.Session.GetString("User")</p>*@
</div>
