@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Login"]</h1>

<p>Use this page to login.</p>

<form method="post" name="Login">
    <div class="border p-3 mt-4">
        
            <div class="form-group" style="margin-top:5px;">
                <label>User</label>
                <input name="user" class="form-control" style="width:50px" />                
            </div>
        
        <br />
        <button type="submit" class="btn btn-primary" style="width:150px">Login</button>
    </div>
</form>
