html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100vh;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#cons-container {
    margin-top: 2vh;
    height: 85vh;
    scrollbar-gutter: stable;
    overflow: scroll;
}

.n-riga {
    text-align:center;
}

.n-riga p {
    margin-bottom: 50%;
}

.n-riga-value p {
    
}