:root {
  --whiter-text-color: rgba(255, 255, 255, 0.7);
  --anfu-color: rgba(255, 255, 204, 1);
  --svil-color: rgba(51, 204, 255, 1);
  --deli-color: rgba(102, 255, 51, 1);
  --hover-btn-color: #084299;
  --darker-bg: #002933;
}

html {
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #717f82;
}

::-webkit-scrollbar-thumb {
  background: #f8f8f8;
}

::-webkit-scrollbar-thumb:hover {
  background: #f8f8f8;
}

::-webkit-scrollbar-button {
  background-color: #92a4a8;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #92a4a8;
  height: 16px;
  width: 1em;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

::-webkit-scrollbar-button:horizontal:increment {
  background-image: url(https://dl.dropboxusercontent.com/u/55165267/icon2.png);
}

::-webkit-scrollbar-button:end:increment {
  /* border-radius: 0 0 8px 8px; background-color: rgba(255, 255, 255, 1); */
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDQwNC4zMDggNDA0LjMwOSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDA0LjMwOCA0MDQuMzA5OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnPgoJPHBhdGggZD0iTTAsMTAxLjA4aDQwNC4zMDhMMjAyLjE1MSwzMDMuMjI5TDAsMTAxLjA4eiIgZmlsbD0iIzAwMDAwMCIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=);
}

::-webkit-scrollbar-button:start:decrement {
  /* border-radius: 8px 8px 0 0; */
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDI1NSAyNTUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI1NSAyNTU7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZyBpZD0iYXJyb3ctZHJvcC11cCI+CgkJPHBvbHlnb24gcG9pbnRzPSIwLDE5MS4yNSAxMjcuNSw2My43NSAyNTUsMTkxLjI1ICAgIiBmaWxsPSIjMDAwMDAwIi8+Cgk8L2c+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==);
}

::-webkit-scrollbar-button:horizontal:end:increment {
  /* border-radius: 0 0 8px 8px; */
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDQwNC4zMDggNDA0LjMwOSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDA0LjMwOCA0MDQuMzA5OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnPgoJPHBhdGggZD0iTTAsMTAxLjA4aDQwNC4zMDhMMjAyLjE1MSwzMDMuMjI5TDAsMTAxLjA4eiIgZmlsbD0iIzAwMDAwMCIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=);
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  /* border-radius: 8px 8px 0 0; */
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDI1NSAyNTUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI1NSAyNTU7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZyBpZD0iYXJyb3ctZHJvcC11cCI+CgkJPHBvbHlnb24gcG9pbnRzPSIwLDE5MS4yNSAxMjcuNSw2My43NSAyNTUsMTkxLjI1ICAgIiBmaWxsPSIjMDAwMDAwIi8+Cgk8L2c+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==);
}

.pointer-pointer {
  cursor: pointer;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* min-height: 100vh; */
  overflow-y: hidden;
}

#main-navbar {
  height: 7vh;
}

#main-navbar img {
  height: 4vh;
}

main {
  margin-top: 7vh;
}

.main-mep-container {
  height: 90vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3vh;
}

/* crrgCreate */

.main-mep-container > form > div {
  height: 87vh;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.btn-medio {
  width: 7rem;
}

#result-p {
  font-size: 20px;
  display: block;
  padding: 0.2rem 0.8rem;
  color: #00ff00;
  border-radius: 0.3rem;
  border: 2px solid green;
  font-weight: 600;
  animation: result-p-animate 3s ease-in-out;
  opacity: 0;
}

.text-succeeded {
  color: #00ff00;
}

@keyframes result-p-animate {
  0% {
    opacity: 1;
  }

  10% {
    transform: scale(1.05);
  }

  20% {
    transform: scale(1);
  }

  90% {
    opacity: 1;
  }
}

.crrgCreateContainer #NTOper {
  width: 22rem;
}

.customDropdown {
  width: fit-content;
}

.customDropdown input {
  width: fit-content;
}

.customDropdown-container {
  background-color: #adb5bd;
  width: max-content;
  overflow: auto;
  max-height: 15rem;
  overscroll-behavior: contain;
}

.customDropdown-container p {
  user-select: none;
  color: #073642;
  padding: 0rem 0.6rem;
  font-size: 15px;
  min-width: 713px;
  margin: 0;
  height: 22px;
}

/*#dropdown-commesse p:nth-of-type(even) {
    background-color: #839496;
}*/

.opt-hover {
  background-color: #99c8ff;
}

.selectedDropItem {
}

.bad-field {
  border: 2px solid red !important;
}

/*  scrollbar per ricerca dropdown  */

.border-style {
  position: absolute;
  overflow: hidden;
  border-radius: 0.5rem;
  /*border: 1px solid #858585;*/
}

.dropdown-scrollbar::-webkit-scrollbar {
  width: 11px;
}

.dropdown-scrollbar::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

.dropdown-scrollbar::-webkit-scrollbar-button:end:increment {
  border-radius: 0rem 0rem 0.6rem 0rem;
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDQwNC4zMDggNDA0LjMwOSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDA0LjMwOCA0MDQuMzA5OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnPgoJPHBhdGggZD0iTTAsMTAxLjA4aDQwNC4zMDhMMjAyLjE1MSwzMDMuMjI5TDAsMTAxLjA4eiIgZmlsbD0iIzAwMDAwMCIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=);
  background-image: none;
}

.dropdown-scrollbar::-webkit-scrollbar-button:start:decrement {
  border-radius: 0rem 0.6rem 0rem 0rem;
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDI1NSAyNTUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI1NSAyNTU7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZyBpZD0iYXJyb3ctZHJvcC11cCI+CgkJPHBvbHlnb24gcG9pbnRzPSIwLDE5MS4yNSAxMjcuNSw2My43NSAyNTUsMTkxLjI1ICAgIiBmaWxsPSIjMDAwMDAwIi8+Cgk8L2c+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==);
}

/* isl search modal */
#searchIslModal * {
  color: var(--whiter-text-color);
}

#crrg-rif-cliente label {
  display: block;
}

#crrg-rif-cliente input {
  display: inline-block;
}

#isl-display {
  overflow: auto;
  height: 58vh;
  margin-top: 2vh;
}

#searchIslModal tr[selected="true"] td {
  background-color: #004f8c;
}

#isl-filters div {
  display: flex;
  justify-content: space-between;
}

#search-isl-table td {
  user-select: none;
}

/* #tatvDesc {
    width: 20rem;
     position: relative; 
    overflow: hidden;
    
} */

.search-isl-riga:hover {
  background-color: red;
}

.search-isl-riga td:nth-of-type(1) {
  width: 7rem;
}

.search-isl-riga td:nth-of-type(2) {
  width: 8rem;
}

.search-isl-riga td:nth-of-type(3) {
  width: 10rem;
}

.search-isl-riga td:nth-of-type(4) {
  width: 20rem;
  overflow: hidden;
}

.search-isl-riga td:nth-of-type(4) p {
  width: 40rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

/* #tatvDesc div {
    width: 20rem;
    overflow: hidden;
    width: 35rem;
     position: absolute; 
} */

#tatvDesc p {
  width: 40rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#search-isl-table thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

#search-table-container {
  height: 27rem;
  overflow: auto;
}

#search-isl-table th:nth-of-type(1) {
  width: 10px;
}

#search-isl-table th {
  width: 10px;
}

/* scrolling-main-container */

.scrolling-container {
  height: 90vh;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

/*     IndexIsl     */

.tooltip,
.tooltip-inner {
  --bs-tooltip-bg: white !important;
  max-width: 20rem;
}

.text-wrapper {
  max-width: 1px;
}

.text-wrapper div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.riga-hover {
  background-color: var(--bs-dark) !important;
}

/* .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement="top"] .tooltip-arrow::before {
  background-color: transparent;
} */

.custom-tooltip-color:hover > div {
  color: var(--whiter-text-color);
}

.accordion-button {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: var(--bs-body-bg);
}

.accordion-button::after {
  background-image: url("../img/arrow-down-circle.svg");
  background-color: white;
  border-radius: 50%;
  transform: scale(1.5);
  outline: 1px solid white;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../img/arrow-down-circle.svg");
  transform: rotate(180deg) scale(1.5);
}

.table-row {
  position: relative;
}

.table-row td {
  position: relative;
  z-index: 10;
}

.table-row td > div:not(.opens) {
  height: 2rem;
}

.table-row td:nth-last-of-type(1) {
  position: static;
  height: 0;
  width: 0;
  padding: 0;
  z-index: 10;
}

.isl-th-color1 {
  color: var(--svil-color) !important;
}

.isl-th-color2 {
  color: var(--deli-color) !important;
}

.isl-th-color3 {
  color: var(--anfu-color) !important;
}

#isl-error-container {
  font-weight: 800;
}

.isl-row-btns {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.isl-row-btns a:nth-child(2) {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid rgba(51, 204, 255, 1);
}

.opens {
  max-height: 0rem;
  transition: 0.3s max-height;
  overflow: hidden;
  overscroll-behavior: contain;
}

.opens-opened {
  max-height: fit-content;
  overflow: hidden;
}

.white-icona-wrapper {
  height: 40px;
  display: block !important;
  width: fit-content;
  display: flex !important;
  justify-content: center !important;
  font-size: 26px;
  height: fit-content;
  margin-bottom: 10px;
}

.radio2 {
  border-left: 1px solid;
}

.white-icona-wrapper i {
  height: 26px;
  width: 26px;
}

.white-icona-wrapper:hover {
  color: var(--hover-btn-color);
}

.latest-row {
  /* box-shadow: 0 -1px 0 #839496 !important; */
  border-bottom: 1px #839496;
}

.last-row td {
  padding: 0.2rem 0.5rem;
}

.icons-isl-btn {
  text-align: center;
  position: absolute;
  width: fit-content;
  padding: 0.25rem;
  border-radius: 1rem;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--bs-body-bg);
  box-shadow: 0 0 10px 5px #002b3652;
}

.icons-isl-btn i {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
}

.icons-isl-btn i:hover {
  color: var(--hover-btn-color);
}
/*table th:nth-last-child(0) {
    background-color: red;
}

.isl-clock-btn i {
    font-size: 18px;
}
*/

#clear-text-btn {
  position: absolute;
  top: 1.4rem;
  right: 0.15rem;
  color: var(--bs-dark);
  &:hover {
    color: #dc3545;
  }
}

/* indexConsuntivi */
#consuntivi-main-container {
  margin: 0 1rem;
}

#consuntivi-main-container button {
  box-shadow: none !important;
}

#cons-container {
  height: 84vh;
  scrollbar-gutter: stable;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  border-radius: 0.6rem;
  border: 10px solid #073642;
}

#cons-container td,
#cons-container th {
  color: var(--whiter-text-color);
}

#cons-container table {
  /* margin-right: 5.4vw; */
}

#cons-container thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

#cons-container thead th {
  width: max-content;
}

#cons-container thead th > div {
  width: max-content;
}

#cons-container thead,
#cons-container tbody tr {
  width: 100%;
}

#cons-container tbody {
  scrollbar-gutter: stable;
  overflow: scroll;
  /* height: 79vh; */
}

#filters {
  height: 5vh;
  position: relative;
}

.max-h-15 {
  max-height: 15vh !important;
}

#filter-btn {
  border: 1px solid var(--whiter-text-color);
  border-radius: 0.3rem;
  width: fit-content;
  display: flex;
  align-items: center;
  height: 2rem;
  width: 2rem;
  margin-top: 0.5vh;
  display: flex;
  justify-content: center;
}

#filter-btn:hover {
  cursor: pointer !important;
  /* background-color: rgba(255, 255, 255, 0.1); */
}

#filter-btn i {
  font-size: 24px;
  color: var(--whiter-text-color);
  display: block;
  height: 2rem;
}

#filter-btn:hover i {
  color: var(--hover-btn-color);
}

#filters-container {
  position: absolute;
  z-index: 3;
  background-color: rgba(19, 77, 91, 0.8);
  border-radius: 0.5rem;
  padding: 1rem;
  top: 100%;
  color: white;
  transform: translateX(-200%);
  transition: transform 0.2s ease-in-out;
}

.show-filters {
  transform: translateX(0%) !important;
}

.n-riga {
  text-align: center;
}

.n-riga div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  height: 100%;
  font-size: 20px;
}

.n-riga p {
}

.n-riga-value {
  position: relative;
  background-color: rgb(207, 207, 202) !important;
  color: black !important;
}

.n-riga-value div {
  width: 1rem;
}

.n-riga-value p {
  position: absolute;
  margin-bottom: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* #menu-btns {
    position: fixed;
    top: 50%;
    transform: translateY(-50%) translateX(88%);
    right: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 6rem;
    transition: transform .3s;
}

#menu-btns:hover {
    transform: translateY(-50%) translateX(0);
}

#menu-btns>* {
    margin-bottom: 3vh;
} */

#menu-btns {
  display: flex;
  align-items: center;
}

#menu-btns > * {
  padding: 0.25rem 0.35rem;
  margin: 0 0.3rem;
  width: 9rem;
}

#menu-btns > *:nth-last-of-type(1) {
  margin-bottom: 0;
  margin-right: 0;
}

#cons-tbody tr:nth-of-type(odd) > td {
  background-color: #001c22;
}

.row-selected {
  background-color: rgb(49, 106, 115) !important;
}

/* .table-striped tbody tr:nth-child(odd) td.row-selected {
  background-color: rgb(49, 106, 115) !important; 
}
.table-striped tbody tr:nth-child(even) td.row-selected {
  background-color: rgb(49, 106, 115) !important; 
}
.table-striped tbody tr td.row-selected {
  background-color: rgb(49, 106, 115) !important;
} */

#err-modal * {
  color: rgb(174, 208, 208);
}

#err-modal button {
  border: 1px solid rgb(174, 208, 208);
}

#err-modal button:hover {
  background-color: #134d5b;
}

.note-btn {
  left: 50%;
  top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  position: absolute;
}

.note-btn i {
  color: var(--bs-dark);
  font-size: 1.4rem;
  height: 1.4rem;
  width: 1.4rem;
}

.note-btn i:hover {
  color: var(--hover-btn-color);
}

.note-btn i:before {
  cursor: pointer;
}

#aggiungi-nota tbody * {
  color: var(--whiter-text-color);
}

.preoccupazione {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

#modal-preoccupazione {
  margin-top: 1rem;
}

#modal-preoccupazione > div {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  border: 2px solid var(--bs-green);
  border-radius: 0.8rem;
  height: 2.1rem;
  transition: 0.2s all ease-in-out;
  overflow: hidden;
  position: relative;
  width: 131px;
  max-width: 70px;
}

#modal-preoccupazione > div > span {
  margin: 0;
}

#modal-preoccupazione > div span:nth-of-type(1) {
  position: absolute;
  left: 8px;
}

#modal-preoccupazione > div span:nth-of-type(2) {
  position: absolute;
  right: 0px;
  width: 30px;
  border-left: 2px solid var(--bs-green);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bs-dark);
  z-index: 3;
}
#modal-preoccupazione .pointer-pointer:hover {
  border: 2px solid white;
}

#modal-preoccupazione > div span:nth-of-type(2) > i {
  font-size: 18px;
  color: var(--bs-green);
  height: 100%;
  width: 100%;
  pointer-events: none;
  transition: 0.2s all ease-in-out;
}

#modal-preoccupazione > div span:nth-of-type(2):hover,
#modal-preoccupazione > div span:nth-of-type(2) i:hover {
  cursor: pointer;
}
#modal-preoccupazione > div span:nth-of-type(2) > i::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#modal-preoccupazione > div span:nth-of-type(3) {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 40px;
}

#modal-preoccupazione > div span:nth-of-type(4) {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 70px;
}

#modal-preoccupazione span {
  display: inline-block;
  margin: 0 0.3rem;
}

.centrato {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.bg-verde {
  background-color: #15cb15;
}

.bg-giallo {
  background-color: orange;
}

.bg-rosso {
  background-color: red;
}

.allarme-verde {
  color: #15cb15;
}

.allarme-arancione {
  color: orange;
}

.allarme-rosso {
  color: red;
}

.tgen-margin {
  margin-top: 10vh;
}

/* RegistroRicariche */

.btn-back {
  margin-left: 3.7rem;
}

.btn-back + #tgen #containerLayoutAziendale {
  margin-top: 1rem;
}

.btn-back + #tgen #containerLayoutAziendale > div > div {
  margin-bottom: 0;
}
